<div class="container">
    <div class="panel panel-info" id="panel-top">
        <div class="panel-heading">
            <div class="h1">
                Employee Information
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">ID : </label>
                    <div class="col-md-3">
                        <input class="form-control" disabled placeholder="ID">
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary">*</span> E-mail : </label>
                    <div class="col-md-3 email" >
                        <input class="form-control" id="email" ng-model="employee.email" placeholder="Email" ng-change="clearError('.email')">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="necessary">*</span> Password : </label>
                    <div class="col-md-3">
                        <input type="password" class="form-control" id="password" ng-model="passwordMatches" placeholder="Password">
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary">*</span> Confirm Password : </label>
                    <div class="col-md-3">
                        <input type="password" class="form-control" id="password" ng-model="employee.password" placeholder="Confirm Password">
                    </div>
                    <div class="col-md-1" ng-show="compairPassword()">
                        <i id="checp-password"></i>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Personal ID : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.pid" placeholder="Personal ID">
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary">*</span> Name TH : </label>
                    <div class="col-md-3 nameth" >
                        <input class="form-control" id="nameth" ng-model="employee.nameTh"  ng-change="clearError('.nameth')" placeholder="Name TH">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Name ENG : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.nameEng" placeholder="Name Eng">
                    </div>

                    <label class="col-md-2 control-label">Birth Date : </label>
                    <div class="col-md-3">
                        <input class="form-control datepicker" ng-model="employee.birthDate" placeholder="Birth Date">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Sex : </label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="employee.sex" ng-init="employee.sex = 'Male'">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>

                    <label class="col-md-2 control-label" > Blood : </label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="employee.blood" ng-init="employee.blood = 'A'">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="O">O</option>
                            <option value="AB">AB</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Marry Status : </label>
                    <div class="col-md-3" ng-init="employee.marryStatus = 'Single'">
                        <select class="form-control" ng-model="employee.marryStatus" value="Single">
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Widowed">Widowed</option>
                            <option value="divorce">Divorce</option>
                            <option value="Live Apart">Live Apart</option>
                        </select>
                    </div>

                    <label class="col-md-2 control-label"> Nation : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.nation" placeholder="Nation">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"> Race : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.race" placeholder="Race">
                    </div>

                    <label class="col-md-2 control-label">Soldier Status : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.soldierStatus" placeholder="Soldier Status">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Address Of Personal ID: </label>
                    <div class="col-md-3">
                        <textarea class="form-control" ng-model="employee.addressOfPid" placeholder="Address Of Personal ID"></textarea>
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary">*</span> Current Address : </label>
                    <div class="col-md-3 currentaddress" >
                        <textarea class="form-control" id="currentaddress" ng-model="employee.currentAddress" placeholder="Current Address" ng-change="clearError('.currentaddress')"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tel : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.tel" placeholder="Tel">
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary" >*</span> Mobile : </label>
                    <div class="col-md-3 mobile">
                        <input class="form-control" id="mobile" placeholder="Mobile" ng-model="employee.mobile" ng-change="clearError('.mobile')">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Department : </label>
                    <div class="col-md-3">
                        <select  class="form-control" ng-model="employee.department" ng-options="dep.name for dep in departments.content">
                        </select>
                    </div>    

                    <label class="col-md-2 control-label"> Start Work : </label>
                    <div class="col-md-3" id="startwork">
                        <input class="form-control datepicker" placeholder="Start Work" ng-model="employee.startWork">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">End Work : </label>
                    <div class="col-md-3">
                        <input class="form-control datepicker" placeholder="End Work " ng-model="employee.endWork">
                    </div>

                    <label class="col-md-2 control-label"> Work Status : </label>
                    <div class="col-md-3" ng-init="employee.workStatus = 'Normal'">
                        <select class="form-control" ng-model="employee.workStatus">
                            <option value="Normal">Nomal</option>
                            <option value="Suspension">Suspension</option>
                            <option value="Resigned">Resigned</option>
                        </select>
                    </div>
                </div>
                
                <div class="panel">
                    <div class="panel-heading">
                        <div class="h1">
                            Authority
                        </div>
                    </div>  
                    <div class="panel-body">
                        <div class="col-md-3" ng-repeat="rol in authoritys.content">
                            <label><input type="checkbox" checklist-model="employee.roles" checklist-value="rol"> {{rol.role}}</label>
                        </div>
                    </div>
                </div> 
            <div class="panel">
                <div class="panel-heading">
                    <div class="h1">
                        Bank
                    </div>
                </div>  
                <div class="panel-body">
                    <div class="form-group">
                            <label class="col-md-2 control-label">Bank Name : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.bank.bankName" placeholder="Bank Name">
                            </div>    

                            <label class="col-md-2 control-label">Account Name : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.bank.accountName" placeholder="Account Name">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Account Number : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.bank.accountNumber" placeholder="Account Number">
                            </div>
                        </div>
                    </div>
                </div>
            <div class="panel">
                <div class="panel-heading">
                    <div class="h1">
                        Contact
                    </div>
                </div>  
                <div class="panel-body">
                    <div class="form-group">
                            <label class="col-md-2 control-label">Name : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.contact.name" placeholder="Contact Name">
                            </div>    

                            <label class="col-md-2 control-label">Relation : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.contact.relation" placeholder="Relation">
                            </div>
                             <div id="growl-custom"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Tel : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.contact.tel" placeholder="Tel">
                            </div>
                         </div>
                    </div>
                </div>
            <div class="col-md-offset-11">
                <button type="submit" class="btn btn-success" ng-click="saveEmployee()">Save</button>
            </div>
            </div>
        </div>
    </div>
</div>




