<div class="container">
    <div class="panel panel-info" id="panel-top">
        <div class="panel-heading">
            <div class="h1">
                Employee Information
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">ID : </label>
                    <div class="col-md-3">
                        <input class="form-control" disabled>
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary">*</span> E-mail : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.email">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="necessary">*</span> Password : </label>
                    <div class="col-md-3">
                        <input type="password" class="form-control" ng-model="passwordMatches">
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary">*</span> Confirm Password : </label>
                    <div class="col-md-3">
                        <input type="password" class="form-control" ng-model="employee.password">
                    </div>
                    <div class="col-md-pull-0" ng-show="compairPassword()">
                        <a href="" class="glyphicon glyphicon-ok"></a>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="necessary">*</span> Personal ID : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.pid">
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary">*</span> Name TH : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.nameTh">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Name ENG : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.nameEng">
                    </div>

                    <label class="col-md-2 control-label">Birth Date : </label>
                    <div class="col-md-3">
                        <input class="form-control datepicker" ng-model="employee.birthDate">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Sex : </label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="employee.sex" value="Male">
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                        </select>
                    </div>

                    <label class="col-md-2 control-label" ><span class="necessary">*</span> Blood : </label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="employee.blood" value="A">
                            <option value="A">A</option>
                            <option value="B">B</option>
                            <option value="O">O</option>
                            <option value="AB">AB</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Marry Status : </label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="employee.marryStatus" value="Single">
                            <option value="Single">Single</option>
                            <option value="Married">Married</option>
                            <option value="Widowed">Widowed</option>
                            <option value="divorce">Divorce</option>
                            <option value="Live Apart">Live Apart</option>
                        </select>
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary">*</span> Nation : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.nation">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label"><span class="necessary">*</span> Race : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.race">
                    </div>

                    <label class="col-md-2 control-label">Soldier Status : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.soldierStatus">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Address Of Personal : </label>
                    <div class="col-md-3">
                        <textarea class="form-control" ng-model="employee.addressOfPid"></textarea>
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary">*</span> Current Address : </label>
                    <div class="col-md-3">
                        <textarea class="form-control" ng-model="employee.currentAddress"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Tel : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.tel">
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary">*</span> Mobile : </label>
                    <div class="col-md-3">
                        <input class="form-control" ng-model="employee.mobile">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Department : </label>
                    <div class="col-md-3">
                        <select  class="form-control" ng-model="employee.department" ng-options="dep.name for dep in departments.content">
                        </select>
                    </div>    

                    <label class="col-md-2 control-label"><span class="necessary">*</span> Start Work : </label>
                    <div class="col-md-3">
                        <input class="form-control datepicker" ng-model="employee.startWork">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">End Work : </label>
                    <div class="col-md-3">
                        <input class="form-control datepicker" ng-model="employee.endWork">
                    </div>

                    <label class="col-md-2 control-label"><span class="necessary">*</span> Work Status : </label>
                    <div class="col-md-3">
                        <select class="form-control" ng-model="employee.workStatus" value="Normal">
                            <option value="Normal">Nomal</option>
                            <option value="Suspension">Suspension</option>
                            <option value="Resigned">Resigned</option>
                        </select>
                    </div>
                </div>
                
                <div class="panel">
                    <div class="panel-heading">
                        <div class="h1">
                            Authority
                        </div>
                    </div>  
                    <div class="panel-body">
                        <div class="col-md-3" ng-repeat="rol in authoritys.content">
                            <label><input type="checkbox" checklist-model="employee.roles" checklist-value="rol"> {{rol.role}}</label>
                        </div>
                    </div>
                </div> 
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <div class="h1">
                        Bank
                    </div>
                </div>  
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Bank Name : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.bank.bankName">
                            </div>    

                            <label class="col-md-2 control-label">Account Name : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.bank.accountName">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Account Number : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.bank.accountNumber">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    <div class="h1">
                        Contact
                    </div>
                </div>  
                <div class="panel-body">
                    <div class="form-horizontal">
                        <div class="form-group">
                            <label class="col-md-2 control-label">Name : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.contact.name">
                            </div>    

                            <label class="col-md-2 control-label">Relation : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.contact.relation">
                            </div>
                             <div id="growl-custom"></div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">Tel : </label>
                            <div class="col-md-3">
                                <input class="form-control" ng-model="employee.contact.tel">
                            </div>
                         </div>
                    </div>
                </div>
            </div>
            <div class="col-md-offset-11">
                <input type="submit" class="btn btn-success" value="Save" ng-click="saveEmployee()">
            </div>
        </div>
    </div>
</div>




