<div class="container">
    <div class="panel panel-info" id="panel-top">

        <div class="panel-heading">
            <div class="h1">
                Employee Information
            </div>
        </div>
        <div class="panel-body">
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">Search : </label>
                    <div class="col-md-4">
                        <input class="form-control" ng-model="search.keyword" placeholder="Search"> 
                    </div>
                </div>
            </div>
            <div class="form-horizontal">
                <div class="form-group">
                    <label class="col-md-2 control-label">SearchBy : </label>
                    <div class="col-md-2">
                        <select class="form-control" ng-model="search.searchBy" ng-init="search.searchBy = 'Name'">
                            <option value="Name">Name</option>
                            <option value="Email">Email</option>
                            <option value="Mobile">Mobile</option>
                        </select>
                    </div>
                </div>    
            </div>   
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-md-2"></div>
                    <div class="col-md-2">
                        <input type="submit" value="Search" class="btn btn-default" ng-click="searchEmployee()">
                    </div>
                </div>
            </div>         
                        
                   
            <div class="panel panel-default" style="margin-top: 20px;">
                <div class="panel-heading">
                    Information
                </div>
                <div class="panel-body">
                    <div class="form-inline">
                        <label>Pages : </label>
                        <select class="form-control">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="50">50</option>
                        </select>
                    </div>
                    <div class="table-responsive" style="margin-top: 20px;">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Mobile</th>
                                    <th>Department</th>
                                    <th>Work Status</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr ng-repeat="employee in employees.content">
                                    <td>{{employee.id}}</td>
                                    <td>{{employee.nameTh}}</td>
                                    <td>{{employee.email}}</td>
                                    <td>{{employee.mobile}}</td>
                                    <td>{{employee.department.name}}</td>
                                    <td>{{employee.workStatus}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>

                    <ul class="pagination pull-right">
                        <li><a href="" class="pag">&Lt;</a></li>
                        <li><a href="">&LT;</a></li>
                        <li class="disabled"><a href="">0</a></li>
                        <li><a href="">&GT;</a></li>
                        <li><a href="">&Gt;</a></li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>



